
.btn.btn-default{
	background: #eaf0f4;
	color: #090f51 !important;
	padding: .375rem .75rem !important;
}
.mr-20{
	margin-right: 20px;
}
.rightNavbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.d-block{
	display: block;
}
.mlr-20{
	margin-left: 20px;
	margin-right: 20px;
}
.rightNavbar div img{
	display: block;
	margin: 0 auto;
}

.rightNavbar div p{
	font-size: 13px;
}
.profileImg{
	border-radius: 50%
}
.btn.btn-primary{
	background-image: linear-gradient(#157aff, #344bff, #541bff);
}

body {
    /* padding-bottom: 20px; */
  }
  
  .navbar {
    margin-bottom: 20px;
  }
  .bl-0{
      border-left: 0
  }
  .form-control:focus {
      border-color: #ced4da;
      outline: 0;
      box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%);
  }
  .fa.fa-search{
      color: #adafb2
  }
  .bb-1{
      border-bottom: 1px solid #dadada;
  }
  .pl-0{
      padding-left: 0px;
  }
  .pt-11{
      padding-top: 11px;
  }
  main{
      display: block;
  }
  .br-0{
      border-right: 0px;
  }
  .ml--2{
      margin-left: -2px;
  }

.navbar {
    background: #ffffff;
    box-shadow: 0px 5px 15px -2px #d5d6d7;
}
.editMenu{
    box-shadow:0px 0px 14px 2px #d5d6d7;

}
.w-4{
    width: 4.5rem;
}
.min-h-100{
    height: 100%;
}
.navbar2{
    box-shadow: 0px 5px 15px -2px #d5d6d7;
}
.leftIcon{
    direction: rtl;
}
.ml-20{
    margin-left: 20px;
}
.homeNavbar{
    display: block !important;
}
/* .carCont button::before{
    content: "\f104";
} */
 


