:root {
  --primary-dark: #23b1ae;
  --primary-light: #25d6d2;
  --primary: #36c6c2;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.p {
  border: #23b1ae !important;
}
/* body {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  width: 1200px !important;
  max-width: 1200px !important;
  height: 1700 !important;
  max-height: 1700px !important;
}
.body-con {
   width: 1050px !important;
  max-width: 1050px !important;
  overflow: scroll;
  height: 600px !important;
  max-height: 600px !important; 
} */
.con {
  width: 750px !important; /* or whatever width you want. */
  max-width: 700px !important;
  max-height: 280px !important;
  min-height: 280px !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}
.dem {
  width: 100px !important;
}

.container {
  min-height: 500px;
}
.push {
  transform: translateX(500px);
}

.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: "Georgia", serif;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: "Hoefler Text", "Georgia", serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Tangerine', cursive;
font-family: 'Zen Tokyo Zoo', cursive;*/

.element.col-md-12.navbar.navbar-expand-lg.navbar-light.bg-light{
  display: none;
}

@media (min-width: 768px){
  .navbar-expand-md .navbar-collapse {
      display: flex!important;
      flex-basis: auto;
      justify-content: space-between;
  }

  }

@media screen and (max-width: 768px){
  .navbar-expand-md .navbar-collapse {
      /* display: flex!important; */
      flex-basis: auto;
      justify-content: space-between;
  }
  .navbar-dark .navbar-toggler{
      display: none !important;
  }
  .d-n-m{
      display: none !important;
  }
  .navbar-expand-md .navbar-collapse#navbarsCollapse, .d-b-m, .collapse:not(.show), nav.navbar .collapse.navbar-collapse.w-100{
      display: block !important;
  }
  .mlr-20 {
      margin-left: 10px !important;
      margin-right: 10px !important;
  }
  .searchForm{
      margin-bottom: 15px;
  }
  .navbar-expand-md .navbar-collapse.topHead{
      display: block !important;
  }
  .pr-n-m{
      padding-right: 0px !important;
  }
  .pl-30-m{
      padding-left: 30px !important;
      padding-right: 30px !important;
  }
  .ml-15-m{
      margin-left: 15px !important;
  }
  .navbar-brand{
      display: flex !important;
      justify-content: flex-end !important;
      margin-bottom: 10px !important;
  }
  .fs-20.defaultColor.pb-2.mt-4{
      margin-top: 40px !important;
  }
  .w-98 {
      width: 100% !important;
  }
  .createStory {
      width: 100% !important;
      padding-top: 40px !important;
  }
  .createStory p{
      margin-bottom: 30px !important;
  }
  .iconCont {
      padding: 9px 4px !important;
      width: 15% !important;
  }
  .iconCont .fs-40.grayColor{
      font-size: 30px !important;
  }
  .welcomeHead {
      font-size: 18px !important;
  }
  .fs-15 {
      font-size: 13px !important;
  }
  .pt-5, .py-5 {
      padding-top: 2rem!important;
  }
  .storyCont h5{
      margin-top: 12px !important;
      font-size: 15px;
  }
  .storyCont p{
      font-size: 12px;
  }
  .createStory .col-sm-3.pl-5.pr-5{
      padding-left: 10px !important;
      padding-right: 10px !important;
  }
  #sliderIndicators {
      min-height: 240px !important;
  }
  .w-30-m{
      width: 32% !important;
  }
  
  .shareIcons{
      padding-left: 10px !important;
  }

  .editMenu {
      min-height: 60vh !important;
  }
  #root{
      overflow-x: hidden  !important;
  }
  .plr-15-m{
      padding-left: 15px !important;
      padding-right: 15px !important;
  }
  .row.w-98{
      margin-left: 0 !important;
  }

  }

